<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>퀴즈풀기</title>
    <link rel="stylesheet" th:href="@{/css/topicstyle.css}">
</head>
<body>
<div class="wrapper">
    <header>
        <a th:href="@{/}">
            <img th:src="@{/img/mainLg2.png}" alt="메인 로고">
        </a>
        <ul>
            <li><a th:href="@{/board/topic}">학습하기</a></li>
            <li><a th:href="@{/quiz/topic}" class="active">퀴즈풀기</a></li>
            <li><a th:href="@{/attend}">출석하기</a></li>
            <li><a th:href="@{/pointStore}">포인트 상점</a></li>
            <li><a th:href="@{/faq}">FAQ</a></li>
            <li><a th:href="@{/notice}">공지사항</a></li>
        </ul>
        <div id="user" th:if="${session.loginUser != null}">
            <!-- 관리자인 경우 -->
            <a th:if="${session.loginUser.userType == '관리자'}"
               th:href="@{/admin/users}"
               class="userName-link"
               th:text="${session.loginUser.name} + '님'"></a>

            <!-- 일반 사용자인 경우 -->
            <a th:unless="${session.loginUser.userType == '관리자'}"
               th:href="@{/user/myPage}"
               class="userName-link"
               th:text="${session.loginUser.name} + '님'"></a>
        </div>
    </header>

    <!-- 무궁화 -->
    <img th:src="@{/img/Mugunghwa3.png}" alt="무궁화" class="flower flower-left">
    <img th:src="@{/img/Mugunghwa1.png}" alt="무궁화" class="flower flower-right">
    <!-- 태극 문양 -->
    <img th:src="@{/img/taegeuk2.png}" alt="태극 문양" class="taegeuk">

    <div id="title">
        <h2>퀴즈를 풀고 싶은 시대를 선택하세요.</h2>
    </div>
    <div id="container">
        <div class="choiceBox1">
            <button class="choice"><a th:href="@{/quiz/list(quizType='선사시대')}">선사시대</a></button>
            <button class="choice"><a th:href="@{/quiz/list(quizType='고조선과 여러 나라')}">고조선과 여러 나라</a></button>
            <button class="choice"><a th:href="@{/quiz/list(quizType='삼국과 가야')}">삼국과 가야</a></button>
            <button class="choice"><a th:href="@{/quiz/list(quizType='남북극시대')}">남북극시대</a></button>
        </div>
        <div class="choiceBox2">
            <button class="choice"><a th:href="@{/quiz/list(quizType='고려시대')}">고려시대</a></button>
            <button class="choice"><a th:href="@{/quiz/list(quizType='조선시대')}">조선시대</a></button>
            <button class="choice"><a th:href="@{/quiz/list(quizType='근대')}">근대</a></button>
            <button class="choice"><a th:href="@{/quiz/list(quizType='현대')}">현대</a></button>
        </div>
    </div>

    <div id="footer">
        <ul>
            <li>대표전화: 042-222-2402</li>
            <li>주소: (34838) 대전 중구 중앙로121번길 20(방산빌딩 3층)</li>
            <li>운영시간: 평일 09:00 ~ 18:00 (주말·공휴일 휴무)</li>
            <li>© 2025 역사 한 걸음. All rights reserved.</li>
        </ul>
    </div>
</div>
</body>
</html>