* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9e4d7;
    background-image: url(../img/mainBg1.png);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcf4e1;
    padding: 0 150px;
    box-shadow: 0 2px 20px #e9e4d7;
}

header img {
    width: 16%;
    padding-top: 5px;
}

header>ul {
    display: flex;
    /* justify-content: flex-end; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header>ul li a {
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
    transition: transform 0.2s ease, font-size 0.2s ease;
    /* 애니메이션 효과 */
}

header>ul li a:hover {
    transform: scale(1.2); /* 글자 전체 커짐 */
    color: #000;
    font-weight: bold;
}

/* 회원가입 */
#container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signUpBox {
    width: 60%;
    height: 30%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background: #fcfcfc;
    border-radius: 12px;
    box-shadow: 0 4px 10px #666;
}

#suBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

#suBox input,
#suBtn {
    padding: 5px;
    font-size: 14px;
    border: solid 1px #555;
    border-radius: 7px;
    box-shadow: 0 2px 2px #666;
}

#suBtn {
    width: 100%;
    background-color: #bdddfc;
}

#suBtnBox {
    padding-top: 30px;
}

/* 하단 부분 */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE7DA;
    padding: 0 200px;
}

#footer>ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#footer>ul li {
    display: block;
    color: #333;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
}
